pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0

pytest==4.6.5
pytest-runner==5.1

# App specific dependencies
ipython>=7.22.0
celery>=5.0.5  # https://github.com/celery/celery/
# I prefer redis as a memdb you can choose your service
redis>=3.5.3  # https://github.com/andymccurdy/redis-py